.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex-container > div {
  background-color: DodgerBlue;
  width: 50%;
  margin: 20px;
  text-align: left;
  font-size: 15px;
}

.code {
    background-color: White;
}

/*.linterOutput {
    width: 45%;
    border: 1px black solid;
    background: #369;
    background-color: powderblue;
}*/
